.une {
  box-sizing: content-box;
  float: left;
  border: 20px solid black;
  padding: 20px;
  margin: 20px;
  width: 80%;
}

.deux {
  box-sizing: border-box;
  float: left;
  border: 20px solid black;
  padding: 20px;
  margin: 20px;
  width: 80%;
}
